<ion-header>
    <ion-toolbar color="primary" mode="ios">
        <ion-buttons slot="start">
            <ion-button (click)="regresar()" expand="block" fill="clear" shape="round">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Información Sucursal</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-card class="ion-padding">
        <form action="">
            <ion-card-header>
                <!-- <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle> -->
                <ion-card-title style="font-weight: bold;">{{textoCard}}</ion-card-title>
            </ion-card-header>
            <ion-item>
                <ion-label position="stacked">Nombre de sucursal</ion-label>
                <ion-input [(ngModel)]="nombreSucursal" name="nombre" [value]="sucursal.nombre"></ion-input>
            </ion-item>
            <div class="ion-text-center ion-padding-top">
                <ion-button size="small" (click)="Guardar()" color="primary" shape="round">
                    Guardar
                </ion-button>
            </div>
        </form>
    </ion-card>
</ion-content>