<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="inicio"></ion-back-button>
        </ion-buttons>
        <ion-title>Reporte</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <h2>Parametros de reporte</h2>
        <ion-item>
            <ion-label>Fecha</ion-label>
            <ion-datetime pickerFormat="YYYY/MM/DD" [(ngModel)]="fecha" doneText="Listo" cancelText="Cancelar" value="2020/09/18" displayFormat="YYYY/MM/DD" placeholder="Seleccione fecha"></ion-datetime>
        </ion-item>
        <div class="ion-text-center">
            <ion-button mode="ios" color="primary" (click)="generar()" shape="">
                Generar
            </ion-button>
        </div>
    </div>
    <ion-card *ngIf="reportes && reportes.length>0">
        <ion-item-group>
            <ion-item-divider>
                <ion-label>Resultados obtenidos</ion-label>
            </ion-item-divider>

            <ion-item (click)="presentModal(r.idsucursal,r.turno)" detail *ngFor="let r of reportes">
                <ion-icon name="home" slot="start"></ion-icon>
                <ion-label>
                    <h3><span style="font-weight: bold;" class="negrita">Sucural:</span> {{r.sucursal}}</h3>
                    <h3><span style="font-weight: bold;" class="negrita">Turno:</span>{{r.turno === 1 ? 'Matutino' : 'Vespertino'}}</h3>
                    <h3><span style="font-weight: bold;" class="negrita">Ventas:</span>${{r.total}}</h3>
                </ion-label>

            </ion-item>

        </ion-item-group>
    </ion-card>
</ion-content>