<ion-header>
    <ion-toolbar color="primary">
        <!-- <ion-buttons slot="start">
          <ion-button (click)="regresar()" expand="block" fill="clear" shape="round">
              <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons> -->
        <ion-buttons slot="start">
            <ion-back-button defaultHref="producto"></ion-back-button>
        </ion-buttons>
        <ion-title>Información Producto</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-card class="ion-padding">
        <form action="">
            <ion-card-header>
                <!-- <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle> -->
                <!-- <ion-card-title style="font-weight: bold;">{{textoCard}}

              </ion-card-title> -->
                <ion-toolbar>

                    <ion-title>
                        <h2 style="font-weight: bold;">{{textoCard}}</h2>
                    </ion-title>
                    <ion-buttons *ngIf="producto.id > 0" color="dark" slot="end">
                        <ion-button (click)="eliminar()" routerLinkActive="router-link-active">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>

            </ion-card-header>
            <ion-item>
                <ion-label position="stacked">Nombre del producto</ion-label>
                <ion-input [(ngModel)]="producto.nombre" name="nombre" [value]="producto.nombre"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Precio ($)</ion-label>
                <ion-input type="number" [(ngModel)]="producto.precio" name="precio" [value]="producto.precio"></ion-input>
            </ion-item>
            <div class="ion-text-center ion-padding-top">
                <ion-button size="small" (click)="Guardar()" color="primary" shape="round">
                    Guardar
                </ion-button>
            </div>
        </form>
    </ion-card>
</ion-content>